## Alchohol Consumption

### GroupBy

In [23]:
# Import the necessary libraries

import numpy as np
import pandas as pd

# Import the dataset
data = '../data/drinks.csv'

# Assign it to a variable called drinks
drinks = pd.read_csv(data)

drinks

,Unnamed: 0,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,2,Afghanistan,0,0,0,0.0,AS
1,3,Albania,89,132,54,4.9,EU
2,4,Algeria,25,0,14,0.7,AF
3,5,Andorra,245,138,312,12.4,EU
4,6,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...,...
188,190,Venezuela,333,100,3,7.7,SA
189,191,Vietnam,111,2,1,2.0,AS
190,192,Yemen,6,0,0,0.1,AS
191,193,Zambia,32,19,4,2.5,AF
192,194,Zimbabwe,64,18,4,4.7,AF

In [37]:
# Which continent drinks more bear on average?

## find the mean of each continent by  beers serving
drinks.groupby('continent')['beer_servings'].mean().head(1)

continent
AF    61.471698
Name: beer_servings, dtype: float64

In [39]:
# For each continent print the statistics for wine consumption
drinks.groupby('continent')['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [59]:
# Print the mean alcohol consumption per continent for every column
drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()

# drinks.columns

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

In [42]:
# Print the median alcohol consumption per continent for every column
drinks.groupby('continent')['total_litres_of_pure_alcohol'].median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

In [ ]:
# Print the mean, min and max values for spirit consumption
spirit_stats = drinks.groupby('continent')['spirit_servings'].agg(['mean', 'min', 'max'])
print(spirit_stats)

# Output a Dataframe
pd.DataFrame(spirit_stats)

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302