# Regiment

### Grouping

In [3]:
# Import the necessary libraries
import pandas as pd

# Create the DataFrame with the following values
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

# Assign it to a variable called regiment
regiment = pd.DataFrame(raw_data)

regiment.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

In [12]:
# What is the mean preTestScore from the regiment Nighthawks?

## find mean for regiment
mean_score = regiment.groupby('regiment')['preTestScore'].mean()

## subset Nighthawks only
mean_score.loc[['Nighthawks']]

regiment
Nighthawks    15.25
Name: preTestScore, dtype: float64

In [44]:
# Present general general statistics by company
gen_stats = regiment.groupby('company')[['preTestScore', 'postTestScore']].describe()
print(gen_stats)

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

In [15]:
# What is the mean of each company's preTestScore?
regiment.groupby('company')['preTestScore'].mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

In [45]:
# Present the mean preTestScores grouped by regiment and company

mean_by_regiment = regiment.groupby(['regiment', 'company'])['preTestScore'].mean()
print(mean_by_regiment)

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

In [49]:
# Present the mean preTestScores grouped by regiments and company without heirarchical indexing

mean_without_indexing = regiment.groupby(['company','regiment'])['preTestScore'].mean()
print(mean_without_indexing)

company  regiment
1st      Dragoons       3.5
         Nighthawks    14.0
         Scouts         2.5
2nd      Dragoons      27.5
         Nighthawks    16.5
         Scouts         2.5
Name: preTestScore, dtype: float64

In [76]:
# Group the entire dataframe by regiment and company
grouping = regiment.groupby(['regiment', 'company'])[['preTestScore', 'postTestScore']].mean()
print(grouping)

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0

In [68]:
# What is the number of observations in each regiments and company
obs_by_reg_n_com = regiment.groupby('company')['regiment'].value_counts()
print(obs_by_reg_n_com)

company  regiment
1st      Dragoons      2
         Nighthawks    2
         Scouts        2
2nd      Dragoons      2
         Nighthawks    2
         Scouts        2
Name: count, dtype: int64

In [71]:
# Iterate over a group and print the name and the whole data from the regiment

for col, row in regiment.groupby('regiment'):
    print(col)
    print(row)

# for rol, col in regiment.iterrows:

Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70